/* country-form.component.css */

.form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form-field {
    margin-bottom: 15px;
  }
  
  .form-label {
    font-weight: bold;
  }
  
  .form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .submit-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }

  header {
    text-align: center;
    padding: 20px 0; /* Adicione algum espaçamento superior e inferior */
  }
  
  header h1 {
    margin: 0; /* Remova as margens padrão do h1 */
  }
  
  