<header>
  <img
    src="assets/img/re.png"
    alt="Renata Chaves - Foto de Perfil"
    width="130px"
    height="130px"
    loading="eager"
    />
    <h1>Renata Chaves</h1>
</header>

<aside>
  <div class="container">
    <p>HTML | ANGULAR | CSS | TypeScript | NodeJS | NestJs|  </p>
    <p>Ilhéus, Bahia, Brasil</p>
    <p><b>Programação WEB (Front end) - Básico </b></p>
    <p>
      FEB-P009 - A tarefa proposta consiste numa aplicação de porƞólio, onde o aluno vai poder
      concentrar os trabalhos já realizados para seus clientes em uma página da Web.
      Escolha 3 aplicações já desenvolvidas em semanas anteriores e as apresente na
      página de porƞólio.

    </p>

    <nav>
      <ul>
        <li>
          <a href="https://github.com/renatachom/FRONT3/tree/FEB-P008/FEB-P008" target="_blank" class="btn btn-primary">
            FEB-P008
          </a>
        </li>

        <li>
          <a href="https://github.com/renatachom/FRONT3/tree/main/FEB-P007"
          target="_blank"
          class="btn btn-secondary">
          FEB-P007
          </a>
        </li>

        <li>
          <a href="https://github.com/renatachom/FRONT3/tree/main/FEB-P006"
          target="_blank"
          class="btn btn-primary">
          FEB-P006
          </a>
        </li>

      </ul>


    </nav>


  </div>
</aside>
