<h1>Serviços</h1>
<hr />
<nav class="container-services">
  <a href="http://www.uesc.br/auditorios/">Auditórios</a>
  <a href="http://www.uesc.br/biblioteca/">Biblioteca</a>
  <a href="https://www.comprasnet.ba.gov.br">Licitações</a>
  <a href="http://www.uesc.br/maxdemenezes/">Pavilhão Max de Menezes</a>
  <a href="https://www.prograd.uesc.br/PortalSagres/">Portal Acadêmico</a>
  <a
    href="http://www.uesc.br/proad/index.php?item=conteudo_gera_requerimento_academico.php"
    >Protocolo Digital</a
  >
  <a href="http://www.portalseibahia.saeb.ba.gov.br/pagina-acesso-externo"
    >Peticionamento Eletrônico do SEI</a
  >
</nav>
