.container-news {
  display: flex;
  flex-direction: column;

  height: 85%;
  justify-content: space-between;

  font-family: 'Playfair Display', serif;
  font-size: 12px;
  margin-top: 15px;

  a {
      color: blue;
  }

  p {
      font-weight: bold;
  }
}

button {
  border: none;
  background-color: #aaa;
  color: #444;
  cursor: pointer;

  font-weight: bold;

  margin-top: 15px;
  border-radius: 5px;
  height: 35px;
}
