.detalhamento-atendimento {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .detalhamento-atendimento h2 {
    margin-top: 0;
  }
  