<div class="user-details-container">
    <h2>Dados do Usuário</h2>
    <p><strong>Nome de usuário:</strong> {{ data.username }}</p>
    <p><strong>Email:</strong> {{ data.email }}</p>
    <p><strong>Nome completo:</strong> {{ data.fullName }}</p>
    <p><strong>Telefone:</strong> {{ data.phone }}</p>
    <p><strong>Endereço:</strong> {{ data.address }}</p>
    <p><strong>Data de Nascimento:</strong> {{ data.birthDate }}</p>
    <p><strong>Gênero:</strong> {{ data.gender }}</p>
    <p><strong>Profissão:</strong> {{ data.profession }}</p>

  </div>
  