@import url("../../../styles/variables.css");

main {
    display: flex;
    flex-direction: row; /* Altera a direção do flex container para linha */
    align-items: stretch;
    justify-content: space-between; /* Distribui o espaço entre os elementos */
    height: 100%;
}

.form-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding: 0 35px;
    background-color: #cacacd; /* Fundo personalizado */
}

.main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding: 0 35px;
    background-color: #ffffff; /* Fundo personalizado */
}

.form-section img {
    margin-bottom: 30px;
    max-width: 200px;
}

.form-section h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 45px;
}

.form-section .btn-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 100%;
}

.form-section .btn-wrapper .divider {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    font-size: 14px;
    color: var(--gray-bg);
    font-weight: 400;
    text-transform: uppercase;
}

.form-section .btn-wrapper .divider div {
    flex-grow: 1;
    height: 2px;
    background-color: var(--gray-bg);
}

.form-section .btn-wrapper button {
    width: 100%;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    border: none;
    background: transparent;
    padding: 12px 24px;
    cursor: pointer;
}

.form-section .btn-wrapper button:disabled {
    opacity: 0.8;
}

.form-section .btn-wrapper button.btn-primary {
    background-color: var(--primary-color);
    color: rgb(255, 255, 255);
    box-shadow: 0px 8px 12px rgba(148, 230, 46, 0.2);
}

.form-section .btn-wrapper button.btn-secondary {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.main-section h1 {
    font-size: 16px; /* Defina o tamanho da fonte desejado */
}

