<!-- app.component.html -->

<div class="search-container">
  <h1>{{ title }}</h1>
  <input type="text" [(ngModel)]="searchTerm" placeholder="Digite o termo de pesquisa" class="search-input" />
  <button (click)="onSearch()" class="search-button">Pesquisar</button>

  <div *ngIf="searchResults.length > 0" class="search-results">
    <h2>Resultados da Pesquisa</h2>
    <ul>
      <li *ngFor="let result of searchResults" class="search-result-item">
        {{ result.title }}
      </li>
    </ul>
  </div>

  <div *ngIf="noResultsMessage !== ''" class="no-results">
    {{ noResultsMessage }}
  </div>
</div>
